<div id="treemap-canvas" class="mind-canvas" tabindex=-1></div>

<div contenteditable strp-br="true" style="-webkit-user-select:text" tabindex="-1" class="mind-content"></div>

<div class="clearfix toolbar">
    <div class="catalog" id="test2">
        <div>
            <div class="action active" ng-click="treeCtr.delectNode()">删除节点</div>
            <div class="action active" ng-click="treeCtr.addSubNode()">添加子节点</div>
            <div class="action active" ng-click="treeCtr.addBroNode()">添加同级节点</div>
            <div class="action active">
                <detail-task auto-width="true">查看详情</detail-task>
            </div>
            <div class="action active">
                指派给
            </div>

        </div>
    </div>
</div>